
.side {
  float: left;
  width: 25%;
}

.mid {
  float: left;
  width: 50%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.user-list{
  list-style-type: none;
}

.user{
  background-color: skyblue;
  border:0.5pt solid;
}